body {
    margin: 0px;
    background-color: aqua;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
}


button {
    background-color: grey;
}



/* #canvas {
    display: block;
    margin: 0 auto;
    border: 6px solid black;
} */